{% extends "blogBundle:LayoutPost:layout.html.twig" %}

{% block title %}
  Poster un commentaire - {{ parent() }}
{% endblock %}

{% block post_body %}

  <h2>Poster un commentaire</h2>

  {{ include("blogBundle:LayoutPost:form.html.twig") }}

  <p>
   Merci de respecter la chartre du site relative aux commentaires. Pas de commentaire racial,sexiste et anti-roux. Les blagues sur les enfants sont toutefois autorisées.
  </p>

  <p>
    <a href="{{ path('blog_post_view', {'id': id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
  </p>

{% endblock %}